

/* logo */
.image-logo{
    width: 190px !important;
    height: 90px;
}

.home_office{
    background-color: blue;
}

.bg-grey{
    background-color: rgb(231, 228, 228);
}

.footColor{
    background-color: #96B7B6;
}